html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  padding-top: 10px;
}

.form-container,
.table-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-container {
  border: thin solid #aaaaaa;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background: #f7f7f7;
}

.logout {
  margin-bottom: 30px;
}

/* link buttons */
.green-button,
.red-button,
.blue-button {
  padding: 7px 10px;
  font-size: 0.875rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  margin-right: 10px;
  position: relative;
  top: 1px;
  text-decoration: none;
  cursor: pointer;
}

.green-button {
  background-color: #28a745;
}

.red-button {
  background-color: #dc3545;
}

.blue-button {
  background-color: #3545dc;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover {
  text-decoration: none;
  color: #fff;
}

.green-button:hover {
  background-color: #107020;
}

.red-button:hover {
  background-color: #a01020;
}

.blue-button:hover {
  background-color: #1020a0;
}

/* end of link buttons */
input [type=button] {
  color: pink;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* table of cars */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead {
  background-color: #aaa;
  color: #fff;
  text-align: left;
  text-transform: capitalize;
}

.table-container tbody tr {
  height: 3em;
}

.table-container thead th,
.table-container tbody td {
  padding: 5px;
}

.table-container tbody tr:nth-child(odd) {
  background-color: #eee;
}

.table-container tbody tr:nth-child(even) {
  background-color: #ffa;
}

.add-new-product {
  margin-top: 1em;
}

/*end of table of cars */
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 12px 24px;
  color: white;
}

.most-left-side {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: left;
  gap: 20px;
  margin-left: 40px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.nav-links a:hover {
  text-decoration: underline;
  color: #f4a261;
  text-underline-offset: 6px;
}

.most-right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 5px 10px;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 4px;
  border-radius: 16px;
}

.search-bar input::-moz-placeholder {
  color: #888;
}

.search-bar input::placeholder {
  color: #888;
}

.search-bar .search-icon {
  color: #888;
  font-size: 1.5rem;
  margin-right: 5px;
}

.user-icon, .cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

/* Login page */
.login-container, .register-container {
  display: flex;
  height: 800px;
}

.login-page, .register-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 64px;
  border: thin solid rgb(147, 145, 145);
  border-radius: 20px;
  max-width: 400px;
  margin: auto;
  box-shadow: 2px 6px 24px rgba(0, 0, 0, 0.5);
}

.login-container h1, .register-container h1 {
  font-weight: 600;
  color: #222;
  margin-bottom: 24px;
  letter-spacing: 0.1rem;
}

.login-container input, .register-container input {
  width: 100%;
  padding: 8px 54px 8px 18px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-container input:focus,
.register-container input:focus {
  border-color: #d08243;
  outline: none;
}

.login-container .create-account-button,
.register-container .cancel-account-button {
  display: block;
  margin: 10px 0;
  color: #d08243;
  text-decoration: none;
}

.login-container .create-account-button:hover,
.register-container .cancel-account-button:hover {
  text-decoration: underline;
}

.login-container .sign-in-button,
.register-container .register-button {
  width: 100%;
  padding: 10px;
  background-color: #d08243;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.sign-in-button:hover, .register-button:hover {
  opacity: 0.8;
}

.login-container .close-button {
  display: none; /* Hide the close button if not needed */
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
  .icons {
    margin-top: 10px;
  }
  .logo {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */
